@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.logo{
    width: 150px;
}

/*  */

.banner-bg{
    position: relative;
    min-height: 100vh;
}

.banner-bg::after{
    content: "";
    position: absolute;
    height: 100%;
    background-image: url(../images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    z-index: -2;
}

.banner-bg::before{
    content: "";
    position: absolute;
    height: 100%;
    background: #0f1826;
    opacity: 0.4;
    z-index: -1;
}


.banner-bg::before, .banner-bg::after{
    border-bottom-right-radius: 50px;
    width: calc(100% - 350px);
}


#banner-content{
    position: absolute;
    left: 50%;
    top: 35vh;
    transform: translateX(-50%);
}

#banner-content .row{
    align-items: center;
}

.banner-heading{
    font-weight: bold;
}

/* video-form-box */

.video-form-box{
    background: #fff;
    box-shadow: 0 0 15px 0px #00000033;
    border-radius: 25px;
    max-width: 340px;
    margin: auto;
}

.input-row{
    display: flex;
    justify-content: space-between;
}

.input-row input{
    border: none;
    border-bottom: 1px solid #e6e6e6;
    width: 47%;
    outline: none !important;
    box-shadow: none !important;
}


.button{
    width: 100%;
    font-size: 1rem;
    border: 1px solid transparent;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 15px;
    padding: 1rem;
    background-image: linear-gradient(100deg, #ffce00, #ed4800);
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
}

.button-auto-width{
    width: auto;
}

.button:hover{
    background-image: linear-gradient(70deg, #ffce00, #ff7300);
}

.button:active{
    border: 1px solid #ed4800;
}

.button img{
    width: 1.5rem;
    padding-left: 0.5rem;
}

/* mobile-nav */

#mobile-nav-opener{
    color: #fff;
    font-size: 1.75rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: none;
}

#mobile-nav{
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    padding: 1rem;
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    /* transform: translateX(-100%); */
    transition: 0.3s ease-in;
    z-index: 100000;
}

#mobile-nav.active{
    left: 0;
}

.mobile-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
}

#mobile-nav-close{
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: #0f1826;
    font-size: 2rem;
}

.mobile-nav-footer{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    margin: 0;
}

/* heading-with-arrow */

.heading-with-arrow{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}

.heading-with-arrow img{
    width: 1.5rem;
    margin-right: 1rem;
}

/* right image section */

.right-image{
    position: relative;
}

.right-image::after{
    content: "";
    position: absolute;
    background-image: url(../images/image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -2;
}

.right-image::before{
    content: "";
    position: absolute;
    background: #0f1826;
    opacity: 0.4;
    z-index: -1;
}


.right-image::before, .right-image::after{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 45%;
    height: calc(100% - 75px);
    bottom: 0;
    right: 0;
}

.right-image .white-box{
    margin-bottom: 60px;
}

.white-box{
    box-shadow: 0 0 10px #00000044;
    padding: 2rem;
    border-radius: 25px;
    background-color: #fff;
}

.box-list{
    list-style: none !important;
    padding: 0;
}

.box-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 0.9rem 0;
}

.right-image .box-list li:last-child{
    border: none;
}

.box-list li p{
    margin-bottom: 0 !important;
}

.box-list li span{
    text-align: end;
}

.box-list li span small{
    color: #ccc;
    margin-top: -0.25rem;
    display: block;
    font-size: 0.7rem;
    white-space: nowrap;
}


/* left image section */



.left-image{
    position: relative;
}

.left-image::after{
    content: "";
    position: absolute;
    background-image: url(../images/image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -2;
}

.left-image::before{
    content: "";
    position: absolute;
    background: #0f1826;
    opacity: 0.4;
    z-index: -1;
}


.left-image::before, .left-image::after{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 55%;
    height: 80%;
    bottom: 13%;
    left: 0;
}

.left-image .white-box{
    margin-top: 150px;
}



.left-image .box-list li{
    position: relative;
    margin-left: 35px;
}

.left-image .box-list li::before{
    content: "";
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/arrow-orange.png);
    background-size: cover;
    width: 20px;
    height: 20px;
}


/* contact box */


.contact-image{
    position: relative;
}

.contact-image::after{
    content: "";
    position: absolute;
    background-image: url(../images/image4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -2;
}

.contact-image::before{
    content: "";
    position: absolute;
    background: #0f1826;
    opacity: 0.4;
    z-index: -1;
}


.contact-image::before, .contact-image::after{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 73%;
    height: 100%;
    bottom: 0;
    right: 0;
}


.contact-form-box{
    background: #fff;
    box-shadow: 0 0 15px 0px #00000033;
    border-radius: 25px;
    max-width: 390px;
    margin-top: 40%;
    margin-bottom: 40%;
}


.vertical{
    flex-direction: column;
}
.vertical input{
    width: 100%;
    margin-bottom: 0.75rem;
    padding: 0.25rem 0;
}


.contact-col{
    margin-left: -40px;
}

@media (max-width: 1200px) {
    .contact-image::before, .contact-image::after{
        width: 68%;
    }
    .contact-col{
        margin-left: -20px;
    }
}

@media (max-width: 992px){
.contact-image::before, .contact-image::after {
    width: 57%;
}
}

@media (max-width: 767px) {
    .banner-bg::before, .banner-bg::after{
        width: calc(100%);
    }

    .navbar-brand{
        margin: auto;
    }

    #banner-content h1{
        text-align: center;
        margin: 2.25rem 0;
    }
    .banner-bg {
        min-height: 25rem;
    }

    #banner-content {
        top: 60px;
    }
    #mobile-nav-opener{
        display: block;
    }

    .right-image .white-box {
        margin-bottom: 0px;
        margin-top: 200px;
    }

    .right-image::before, .right-image::after {
        width: 70%;
        height: 60%;
        bottom: 20%;
        right: 0;
    }
    
    .right-image::after {
        background-size: 150%;
        background-position: 0% 80%;
    }

    .second-section{
        margin-top: 140px;
    }

    /* left */

    .left-image::before, .left-image::after {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 70%;
        height: 65%;
        bottom: 37%;
        left: 0;
    }

    .left-image .white-box {
        margin-top: 40%;
    }

    .contact-col, .contact-form-box{
        margin-left: auto;
        margin-right: auto;
    }

    .contact-form-box {
        margin-bottom: 10%;
        margin-top: 50%;
    }
    .copyright{
        text-align: center;
    }

    .contact-image::before, .contact-image::after {
        width: 95%;
        height: 75%;
        bottom: 25%;
    }
}



/* mobile */

@media (max-width: 567px) {
    .right-image::after {
        background-size: cover;
        background-position: center bottom;
    }
    
    .right-image::before, .right-image::after {
        width: 95%;
        height: 35%;
        bottom: 45%;
        right: 0;
    }

    .right-image .white-box {
        margin-bottom: 0px;
        margin-top: 70%;
    }

    /* left */

    .left-image::before, .left-image::after {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 95%;
        height: 55%;
        bottom: 47%;
        left: 0;
    }

    .left-image .white-box {
        margin-top: 50%;
    }

}










